html {
    scroll-behavior: smooth;
}

.tooltip {
    display: flex;
    position: relative;
    border-bottom: 1px dotted #000;
};

.ContentBackground {
    display: flex;
    flex-grow: 1;
    z-index: 1;
    justify-content: center;
    position: relative;
}

.MainColumn {
    display: flex;
    flex-direction: column;
}

.FlexContainerRow {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding: 0 20px 20px;
}

.FlexContainerRow > h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 70vw;
}

.ProjectLink {
    margin: 20px;
}

.FileRenderer {
    padding: 0 20px 20px;
    height: 90vh;
    margin-bottom: 15px;
}

.SlideButtons {
    margin: 20px 20px 0;
    border: 0;
    color: $color-link-dark;
    background-color: $color-bg-white;

    @media (max-width: 767px) {
        margin: 0;
    }

    &.Active {
        @media (max-width: 767px) {
            background-color: $color-bg-white;
            color: $color-bg-black;
        }
        background-color: $color-bg-gray-light;
    }
}

.FileDetail__revisions {
    max-height: 100vh;
    overflow-y: auto;
}

.FileDetail__right-section-heading {
    margin-left: 20px;
}

.FileDetail__revision-list {
    list-style-position: inside;
    padding-inline: 20px;
}

.FileDetail__no-revisions {
    padding: 20px;
    text-align: center;
}

.RightContainer {
    margin: 0 20px;
    
    h2 {
        margin-bottom: 20px;
    }
}

.EditFilenameField {
    display: inline-flex;
    align-self: flex-start;
    width: 70%;
}

.RenameButton {
    height: 44px;
    width: fit-content;
    max-width: 100px;
    text-align: center;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    font-weight: 300;
}

.UserInputField {
    padding: 0;
    margin: 0;
    display: inline-flex;
    height: 44px;
    // width: calc(100% + 10px);
    // width: calc(fit-content + 5px);
    // min-width: 250px;
    // max-width: 300px;
}

.CancelButton {
    // padding: 0;
    // margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.FileActionsButton {
    height: 44px;
    width: 44px;
    display: flex;
    align-self: right;
}

.DialogBox {
    display: block;
    font-size: 2em;
    color: rgb(101, 226, 101);
    padding-left: 20px;
}

