* {
    list-style: none;
}

.RegistrationCard {
    background-color: indigo;
}

.RSSFeed_Live_Wrapper > table {
    list-style: none;
}

.bg-class {
    display: grid;
    grid-gap: 10px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-image: url('img/bg-light.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(1);
    }
}

.wrapper {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif !important;
    grid-gap: 10px;
}

.RSSFeed_Live_Wrapper {
    grid-gap: 2px;
}

.left-nav li {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
    align-items: stretch;
    font-weight: 700;
    border-radius: 10%;
    height: 44px;
}

.avatar {
    padding: 0;
    margin: auto;
}

.avatar > img {
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 0;
    margin: 10px;
}

// .name-membership-group {
// }

// .name-and-membership > h3 {
// }

.user-name {
    font-weight: 700;
    font-style: italic;
}

.user-membership > h4 {
    font-size: 10px;
    // padding-top: 0;
    // padding-right: 0;
}

.user-group {
    font-size: 16px;
}

// .about-me {
// }

.badges {
    display: flex;
    justify-content: left;
    margin-left: 15px;
}

.badges > * {
    // color: $primary-blue;
    text-align: center;
    color: #337ab7;
    height: 60px;
    width: 60px;
    // height: 100%;
    // width: 100%;
    margin: 3px;
}
.my-research {
    padding-top: -15px;
}

.RSSFeed_Live {
    min-width: 150px;
    width: 100%;
    list-style: none;
}

// #rss-feed {
// }

.FeedData_List {
    list-style: none;
    padding-top: 0;
    margin-top: 0;
}

.FeedData_List li:nth-of-type(n+3) {
    font-size: 10px;
    background-color: indigo;
}

.rss-card {
    background-color: cadetblue;
}

.UserName_LiveFeed  > h5 {
    text-align: center;
    padding-top: 13px;
    align-items: center;
    font-weight: 700;
    color: #fff;
    background: #263947;
    background-color: osf;
    height: 44px;
    // background-image: linear-gradient(to bottom, $color-link-blue 0, $color-shadow-white 100%);
    border-bottom: 1px solid $color-border-gray-darker;
}

// [data-test-favorite-button] {

// }

.favorited-item {
    background-color: #000;
    color: indianred;
    font-size: 100px;
}

#userFavortited {
    background-color: #000;
    color: indianred;
    font-size: 100px;
}

.active, .btn:hover {
    background-color: #000;
    color: #cd5c5c;
    font-size: 44px;
}

@media (min-width: 650px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 60px;
    }

    .RSSFeed_Live_Wrapper {
        display: inline-flex;
        flex-direction: column;
    }

    // .user-name-feed {
    //     grid-column: 1 / 2;
    //     grid-row: 1 / 2;
    // }

    // .FeedData_List {
    //     grid-column: 1 / 2;
    //     grid-row: 2 / 5;
    // }

    .avatar {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .user-name {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }

    .user-membership {
        grid-column: 4 / 6;
        grid-row: 1 / 2;
    }

    .user-group {
        grid-column: 2 / 5;
        grid-row: 2 / 3;
    }

    .about-me {
        grid-column: 2 / 5;
        grid-row: 3 / 4;
    }

    .badges {
        grid-column: 2 / 5;
        grid-row: 4 / 5;
    }

    .my-research {
        grid-column: 2 / 5;
        grid-row: 5 / 6;
    }

    .rss-feed {
        grid-column: 2 / 5;
        grid-row: 6 / 7;
    }
}
