.bg-class {
    background-color: #fff;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    font-family: Arial, sans-serif;
    // grid-template-columns: auto;
	// grid-template-rows: auto;
    // grid-template-areas:
    //     'header'
    //     'aboutMe'
    //     'badges'
    //     'myResearch'
    //     'rssFeed';
}

.wrapper > div {
    padding: 1em;
    border-radius: 1em;
}

header {
    display: grid;
    background-color: darkblue;
    // grid-area: header;
    // grid-template-areas:
    //     'avatar'
    //     'userName'
    //     'userMembership'
    //     'userGroup';
}

.avatar {
    background-color: indigo;
    grid-area: avatar;
    // grid-column: 1/3;
    // grid-row: 1/2;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.name-membership-group {
    display: grid;
    background-color: indigo;
    grid-area: nameMembershipGroup;
}

.name-and-membership {
    display: grid;
    text-align: left;
    background-color: indianred;
    grid-area: nameAndMembership;
}

.name-and-membership > h3 {
    display: inline-block;
}

.UserData {
    margin: 20px;
    padding: 10px;
}

.user-name {
    grid-area: userName;
}

.user-membership {
    grid-area: userMembership;

}

.user-group {
    color: navy;
    grid-area: userGroup;
}

.about-me {
    background-color: black;
    grid-area: aboutMe;
}

.badges {
    background-color: white;
    grid-area: badges;
}

.my-research {
    background-color: darkgray;
    grid-area: myResearch;
}

.rss-feed {
    background-color: cadetblue;
    grid-area: rssFeed;
}

@media (min-width: 650px) {
    // .wrapper {
    //     grid-template-columns: auto;
    //     grid-template-rows: auto;
    //     grid-template-areas:
    //         'header'
    //         'aboutMe'
    //         'badges'
    //         'myResearch'
    //         'rssFeed';
    // }

    .avatar {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .user-name {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .user-membership {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .user-group {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    .about-me {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }

    .badges {
        grid-column: 2 / 4;
        grid-row: 4 / 5;
    }

    .my-research {
        grid-column: 2 / 4;
        grid-row: 5 / 6;
    }

    .rss-feed {
        grid-column: 2 / 4;
        grid-row: 6 / 7;
    }

}

    // .nameMembershipGroup {
    //     grid-template-columns: auto;
    //     grid-template-rows: repeat(4, 1fr);
    //     grid-template-areas: 
    //         'userName userName userMembership userMembership'
    //         'userGroup userGroup';
    // }

    // .user-data {
    //     grid-template-columns: auto;
    //     grid-template-rows: auto;
    //     grid-template-areas:
    //         'avatar nameMembershipGroup nameMembershipGroup nameMembershipGroup';
    // }
